<a href="https://colab.research.google.com/github/SandaruwiniGalappaththi/IRWA_-LABS/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]
list = [i + j for i,j in zip(teams,captains) ]
list
tuple(zip(teams,captains))

(('India', 'Kohli'),
 ('England', 'Root'),
 ('NZ', 'Williaamson'),
 ('Aus', 'Smith'))

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
list2 = [n*n for n in list]
list2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
List1 = [2,4,6,8,10]
list3 = [n + 10 for n in List1]
list3

[12, 14, 16, 18, 20]

In [ ]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
list2 = list2[::-1]
list2
for x,y in zip(list1,list2):
  print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
List1= [10,15,20,15,32,54,15]
for x in List1:
  if x == 15:
    List1.remove(x)

List1

[10, 20, 32, 54]

In [ ]:
keys= ["ten","twenty","thirty"]
values = [10,20,30]

dict(zip(keys,values))

{'ten': 10, 'twenty': 20, 'thirty': 30}

In [ ]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}
dict_3 ={**dict_1,**dict_2}
dict_3

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [ ]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
d[4] = d.pop[0]
d
#Answer = {1: 1, 2: 2, 3: 3, 4: 0}

TypeError: ignored

In [ ]:
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]
dict_together = zip(country, capital)
dict(dict_together)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

In [ ]:
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}
keysToRemove = ["Book", "Crystal"]

for i in keysToRemove:
  del My_dict[i]

My_dict

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [ ]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math', 'chem','sci'}
extracted_dictionary = dict()
for i in key_to_extract:
  extracted_dictionary[i] = sub_dict[i]


extracted_dictionary

{'sci': 100, 'chem': 98, 'math': 100}

In [ ]:
# Python3 code to demonstrate
# to get key and value
# using in operator

# initializing dictionary
test_dict = {"Geeks" : 1, "for" : 2, "geeks" : 3}

# Printing dictionary
print ("Original dictionary is : " + str(test_dict))

# using in operator to
# get key and value
print ("Dict key-value are : ")
for i in test_dict :
	print(i, test_dict[i])

Original dictionary is : {'Geeks': 1, 'for': 2, 'geeks': 3}
Dict key-value are :
1
2
3

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
answer =[]
for i in list1:
  if i % 5 == 0:
    answer.append(i)
  
answer

[15, 55, 75, 150, 180, 200]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > 500:
    break
  elif i > 150:
    continue
  elif i % 5 == 0:
    print(i)

75
150
145

In [ ]:
Substrings = "@W3Resource.Com"
upper = 0
lower = 0
number = 0
special = 0
for i in range(len(Substrings)):
		if Substrings[i].isupper():
			upper += 1
		elif Substrings[i].islower():
			lower += 1
		elif Substrings[i].isdigit():
			number += 1
		else:
			special += 1


print('Upper case letters:', upper)
print('Lower case letters:', lower)
print('Number:', number)
print('Special characters:', special)

Upper case letters: 3
Lower case letters: 9
Number: 1
Special characters: 2

In [ ]:
# Python 3 program to count the uppercase,
# lowercase, special characters
# and numeric values

# Function to count uppercase, lowercase,
# special characters and numbers
def Count(str):
	upper, lower, number, special = 0, 0, 0, 0
	for i in range(len(str)):
		if str[i].isupper():
			upper += 1
		elif str[i].islower():
			lower += 1
		elif str[i].isdigit():
			number += 1
		else:
			special += 1
	print('Upper case letters:', upper)
	print('Lower case letters:', lower)
	print('Number:', number)
	print('Special characters:', special)

# Driver Code
str = "#GeeKs01fOr@gEEks07"
Count(str)

# This code is contributed
# by Sushma Reddy

Upper case letters: 5
Lower case letters: 8
Number: 4
Special characters: 2

In [ ]:
# Python program showing
# a use of input()

val = input("Enter your value: ")
print(val)

Enter your value: yyy
yyy

In [ ]:
# Python program showing
# a use of input()

inp = input("Enter number: ")
inp = int(inp)
sum = 0
total = 0
for x in range(inp):
  y = 2
  y = y*(10**x)
  sum = sum + y
  print(sum," + ", end =" ")
  total = total + sum
print(" = ",total)

Enter number: 5
2  +  22  +  222  +  2222  +  22222  +   =  24690

# LAB 2

In [ ]:
Doc_1 = "breakthrough drug for schizophrenia"
Doc_2 = "new schizophrenia drug"
Doc_3 = "new approach for treatment of schizophrenia"
Doc_4 = "new hopes for schizophrenia patients"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/LAB2

/content/drive/MyDrive/LAB2

In [ ]:
import os
def InvertedIndex():

  dictionary = dict()
  directory = os.getcwd()+'/inverted'
  files = os.listdir(directory)
  
  for file in files:
    with open(os.getcwd()+'/inverted/'+file,'r')as f:
      words = f.read().lower().split()
      
      for word in words:
        if word not in dictionary:
          dictionary[word] =[file]
        else:
          dictionary[word].append(file)
  return(dictionary)

print(dictionary)

{'breakthrough': ['Doc1.txt'], 'drug': ['Doc1.txt', 'Doc2.txt'], 'for': ['Doc1.txt', 'Doc3.txt', 'Doc4.txt'], 'schizophrenia': ['Doc1.txt', 'Doc2.txt', 'Doc3.txt', 'Doc4.txt'], 'new': ['Doc2.txt', 'Doc3.txt', 'Doc4.txt'], 'approach': ['Doc3.txt'], 'treatment': ['Doc3.txt'], 'of': ['Doc3.txt'], 'hopes': ['Doc4.txt'], 'patients': ['Doc4.txt']}

In [ ]:
def and_op(list1,list2):
  if ((list1) and (list2)):
    return set(list1).intersection(list2)
  else:
    return()

ii = InvertedIndex()
for key in InvertedIndex():
  if key == 'schizophrenia':
    list1 = ii[key]
    print('list1',list1)
  if key == 'drug':
    list2 = ii[key]
    print('list2',list2)
print('schizophrenia AND drug',and_op(list1,list2))

list2 ['Doc1.txt', 'Doc2.txt']
list1 ['Doc1.txt', 'Doc2.txt', 'Doc3.txt', 'Doc4.txt']
schizophrenia AND drug {'Doc2.txt', 'Doc1.txt'}

# WEB SCRAPPING

In [3]:
# import module
from urllib.request import urlopen
from urllib.error import *

# try block to read URL
try:
	html = urlopen("https://www.sliit.lk/")
	
# except block to catch
# exception
# and identify error
except HTTPError as e:
	print("HTTP error", e)
	
except URLError as e:
	print("Opps ! Page not found!", e)

else:
	print('Yeah ! found ')

Yeah ! found

In [4]:
# import module
import requests

# create a function
# pass the url
def url_ok(url):
	
	# exception block
	try:
	
		# pass the url into
		# request.hear
		response = requests.head(url)
		
		# check the status code
		if response.status_code == 200:
			return True
		else:
			return False
	except requests.ConnectionError as e:
		return e

# driven code
url = "https://www.geeksforgeeks.org/"
url_ok(url)

True